/* Reset & compatibility */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  *zoom:1;
}

/* Layout */
html, body,
#backgammon,
.board, .pane, .bar {
  width: 100%;
  height: 100%;
}

.bar td {
  position: relative;
}

.board {
  height: 99%;
}

.pane {
  width: 45%;
}

#pane-left,
#pane-right,
#bar {
  float: left;
}

#pane-left,
#pane-right {
  width: 46%;
}

.bar {
  width: 8%;
}

.field {
  height: 50%;
}

.space {
  height: 7%;
}

.frame {
  height: 0.5%;
}

.point {
  float: left;
  width: 16.5%;
  height: 100%;

  text-align: center;
  position: relative;
}

.row0.field {
  padding-bottom: 2%;
}

.row1.field {
  padding-top: 2%;
}

#point17, #point6 {
  margin-right: 0.5%;
}

#point18, #point5 {
  margin-left: 0.5%;
}

/*
.piece-out {
  position: absolute;
  bottom: 0;
}
*/

.piece {
  float: none;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.piece:after {
  content: '';
  display: block;
  /*margin-top: 56.25%;*/
  padding-top: 100%;
}
.piece .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

/* Piece text */
.piece {
  vertical-align: middle;
}

.piece .image:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.piece span {
  vertical-align: middle;
}

/*
.action-panel {
  margin: auto;
  width: 150px;
  height: 100%;
}

.action-panel button.action {
  width: 100%;
  height: 100%;
}
*/

.game-menu {
  background: hsla(1,0%,100%,.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1050;
  min-height: 100%;
}

div.menu-toggle .inner {
  position: relative;
}

div.menu-toggle .inner {
  margin: auto;
  position: absolute;
  top: 1%; left: 1%;
  z-index: 1100;
  width: 40px;
  height: 40px;
}

div.menu-toggle .inner .btn {
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.5;
}

div.action-panel {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1000;
  width: 12%;
  min-width: 50px;
  height: 50px;
}

div.action-panel button.action {
  width: 100%;
  height: 100%;
  min-width: 40px;
  margin-bottom: 10px;
}

div.dice-panel {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  z-index: 1000;
  width: 50%;
  min-width: 50px;
  height: 50px;
}

div.dice-panel.left {
  left: 0;
}

div.dice-panel.right {
  right: 0;
}

/* Behaviour */
#backgammon div, #backgammon span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.piece, .piece .image .die {
  cursor: pointer;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

/* Global style */

body {
  /* TODO: use smaller image on mobile devices or a css only background */
  background: url('../images/background-photo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#333;
}

.glyphicon {
  top: 3px;
  padding-right: 5px;
}

/* Index page style */
#page-index h1,
#page-index h1 small {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
}

#page-index h1 {
  font-size: 50px;
  font-weight: 700;
  padding-right: 1em;
}

#page-index h1 small {
  font-size: 30px;
  font-weight: 300;
  padding-left: 2em;
}

#page-index .row .col {
  padding-bottom: 20px;
}

#page-index .input-group {
  max-width: 250px;
  margin: 0 auto;
}

#waiting-overlay {
  background-color: rgba(239,239,239,0.9);
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

#waiting-overlay .loader {
  width: 100%;
  height: 100%;
  opacity: 1;
  text-align: center;
}

#waiting-overlay .loader:before {
  content: '';
  display: inline-block;
  height: 90%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#waiting-overlay .loader span {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  color: #000000;
}

/* Board style */
.board {
  /*background-color: #5E4733*/;
  /*E8D1A5*/
  /*background-color: #fff1dd;*/
  background-color: #fff1dd;
}

.frame {
  background-color: #5e4733;
}

.bar {
  background: #5e4733 url(../images/v-line.gif) repeat-y center center;
}

.point.odd,
.point.even {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.row0 .point.odd {
  /*background-color: #D8C3A3;*/
  background-image: url(../images/row1-triangle-light.gif);
}

.row0 .point.even {
  /*background-color: #B58863;*/
  background-image: url(../images/row1-triangle-dark.gif);
}

.row1 .point.odd {
  /*background-color: #D8C3A3;*/
  background-image: url(../images/row2-triangle-light.gif);
}

.row1 .point.even {
  /*background-color: #B58863;*/
  background-image: url(../images/row2-triangle-dark.gif);
}

.piece {
  font-weight: bold;
}

.piece .image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.piece.white .image {
  background-image: url(../images/piece-white-2.png);
  color: #000000;
}

.piece.black .image{
  background-image: url(../images/piece-black-2.png);
  color: #ffffff;
}

.dice {
  text-align: center;
}

.die {
  margin: 0 auto;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-indent: -100px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.digit-1-white {
  background-image: url(../images/digit-1-white.png);
}

.digit-2-white {
  background-image: url(../images/digit-2-white.png);
}

.digit-3-white {
  background-image: url(../images/digit-3-white.png);
}

.digit-4-white {
  background-image: url(../images/digit-4-white.png);
}

.digit-5-white {
  background-image: url(../images/digit-5-white.png);
}

.digit-6-white {
  background-image: url(../images/digit-6-white.png);
}

.digit-1-black {
  background-image: url(../images/digit-1-black.png);
}

.digit-2-black {
  background-image: url(../images/digit-2-black.png);
}

.digit-3-black {
  background-image: url(../images/digit-3-black.png);
}

.digit-4-black {
  background-image: url(../images/digit-4-black.png);
}

.digit-5-black {
  background-image: url(../images/digit-5-black.png);
}

.digit-6-black {
  background-image: url(../images/digit-6-black.png);
}

.dice .played {
  opacity: 0.5;
}

/* Responsive variations */
@media screen and (min-width: 1024px) {
  #page-index h1 {
    font-size: 72px;
  }
  #page-index h1 small {
    font-size: 36px;  
  }
}

@media screen and (max-width: 768px) {
  #page-index h1 {
    font-size: 36px;  
  }
  #page-index h1 small {
    font-size: 22px;  
  }
}

@media screen and (max-width: 544px) {
  #page-index h1 {
    font-size: 20px;
  }
  #page-index h1 small {
    font-size: 12px;  
  }
  
  #page-index .row .col {
    text-align: center;
  }
}

@media (max-width: 480px) { 
  .col-ts-12 {
    width: 100%;    
    float: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .hidden-ts {
    display: none;
  }
  
  .dice .die {
    width: 32px;
    height: 32px;
  }  
}