/* Reset & compatibility */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  *zoom:1;
}

/* Layout */
html, body,
#backgammon,
.board, .pane, .bar {
  width: 100%;
  height: 100%;
}

.pane {
  width: 45%;
}

#pane-left,
#pane-right,
#bar {
  float: left;
}

#pane-left,
#pane-right {
  width: 46%;
}

.bar {
  width: 8%;
}

.field {
  height: 50%;
}

.space {
  height: 7%;
}

.frame {
  height: 0.5%;
}

.point {
  float: left;
  width: 16.5%;
  height: 100%;

  text-align: center;
  position: relative;
}

#point17, #point6 {
  margin-right: 0.5%;
}

#point18, #point5 {
  margin-left: 0.5%;
}

/*
.piece-out {
  position: absolute;
  bottom: 0;
}
*/

.piece {
  float: none;
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.piece:after {
  content: '';
  display: block;
  /*margin-top: 56.25%;*/
  padding-top: 100%;
}
.piece .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

/* Piece text */
.piece {
  vertical-align: middle;
}

.piece .image:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.piece span {
  vertical-align: middle;
}

/*
.action-panel {
  margin: auto;
  width: 150px;
  height: 100%;
}

.action-panel button.action {
  width: 100%;
  height: 100%;
}
*/

div.action-panel {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1000;
  width: 9%;
  min-width: 50px;
  height: 50px;
}

div.action-panel button.action {
  width: 100%;
  height: 100%;
}

/* Behaviour */
#backgammon div, #backgammon span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.piece, .piece .image {
  cursor: pointer;
}

/* Style */

.board {
  /*background-color: #5E4733*/;
  /*E8D1A5*/
  /*background-color: #fff1dd;*/
  background-color: #fff1dd;
}

.frame, .bar {
  background-color: #5e4733;
}

.point.odd,
.point.even {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.row0 .point.odd {
  /*background-color: #D8C3A3;*/
  background-image: url(../images/row1-triangle-light.gif);
}

.row0 .point.even {
  /*background-color: #B58863;*/
  background-image: url(../images/row1-triangle-dark.gif);
}

.row1 .point.odd {
  /*background-color: #D8C3A3;*/
  background-image: url(../images/row2-triangle-light.gif);
}

.row1 .point.even {
  /*background-color: #B58863;*/
  background-image: url(../images/row2-triangle-dark.gif);
}

.piece {
  font-weight: bold;
}

.piece .image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.piece.white .image {
  background-image: url(../images/piece-white.png);
  color: #000000;
}

.piece.black .image{
  background-image: url(../images/piece-black.png);
  color: #ffffff;
}

#dice .die {
  margin: 0 auto;
  display: block;
  width: 64px;
  height: 64px;
  text-indent: -100px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#dice .digit-1 {
  background-image: url(../images/digit-1.png);
}

#dice .digit-2 {
  background-image: url(../images/digit-2.png);
}

#dice .digit-3 {
  background-image: url(../images/digit-3.png);
}

#dice .digit-4 {
  background-image: url(../images/digit-4.png);
}

#dice .digit-5 {
  background-image: url(../images/digit-5.png);
}

#dice .digit-6 {
  background-image: url(../images/digit-6.png);
}
